In [1]:
#Feature Engineering
#Create ipynb file that has:
#1. Imports data from stash: 'https://stash.danskenet.net/users/bb6586/repos/dsaeda2020q1/browse/loans_2007.csv' 
#2. Imports data from stash: 'https://stash.danskenet.net/users/bb6586/repos/dsaeda2020q1/browse/CSI_data_final.csv' 
#3. .head() for those columns that you think are engineered features & explain in #comments why you think so. 
#If binarized, group .head() for rated columns.
#4. engineer any 2 new features for loans_2007.csv data


#importing the packages
import numpy as np
import pandas as pd

In [2]:
#importing the data (loans2007)
loans2007_data = pd.read_csv ('https://raw.githubusercontent.com/olhamk/Exploratory_Data_Science_with_Python/master/loans_2007.csv?raw')

In [3]:
#importing one more data set (CSI_data)
CSI_data = pd.read_csv ('https://raw.githubusercontent.com/olhamk/Exploratory_Data_Science_with_Python/master/CSI_data_final.csv?raw')

In [4]:
#displaying a sample of loans 2007 data
pd.set_option('display.max_columns', 41)
loans2007_data.sample(10)

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,zip_code,dti,delinq_2yrs,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_fico_range_high,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
16549,16800.0,10.37,360.02,3,77000.0,1,898,21.60,0.0,779.0,2.0,7.0,0.0,10279.0,41.8,24.0,764.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10032,11000.0,7.49,342.12,10,82500.0,1,761,12.76,0.0,759.0,1.0,8.0,0.0,11995.0,36.1,18.0,764.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8766,5000.0,11.99,166.05,4,34800.0,1,923,18.83,1.0,684.0,0.0,4.0,0.0,5341.0,58.7,11.0,719.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
22328,5000.0,9.99,106.22,0,76800.0,1,936,10.80,0.0,734.0,0.0,8.0,0.0,5783.0,30.1,16.0,804.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3371,21000.0,14.27,491.58,10,83400.0,1,925,21.63,0.0,709.0,0.0,12.0,0.0,35006.0,84.7,32.0,714.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7777,10000.0,11.49,329.72,4,38400.0,0,207,16.44,0.0,694.0,0.0,8.0,0.0,6167.0,66.3,8.0,554.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4788,12000.0,6.62,368.45,2,50000.0,1,751,16.03,0.0,739.0,0.0,11.0,0.0,4320.0,12.9,25.0,719.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8297,11000.0,6.99,339.60,9,68000.0,1,30,19.48,0.0,794.0,5.0,13.0,0.0,2881.0,8.8,31.0,824.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10240,20000.0,15.23,478.22,10,55000.0,1,595,13.90,0.0,719.0,2.0,10.0,0.0,15104.0,64.8,25.0,759.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1817,18000.0,18.64,463.38,7,60000.0,1,63,11.76,0.0,679.0,1.0,8.0,0.0,9359.0,65.0,14.0,739.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [5]:
#1.head() for those columns that you think are engineered features & explain in #comments why you think so. 
#If binarized, group .head() for related columns. 

#loans2007: engineered features (excluding binarized data)
loans2007_data[['dti','revol_util', 'delinq_2yrs', 'inq_last_6mths']].head()

#1. debt-to-income ratio (dti) and revolving line utilization rate (revol_util) seem to fall under featurecreation
#as they were probably calculated from the other raw variables
#'2. delinq_2yrs and inq_last_6mths might have been aggregated as they show the data for the past 2 years and 
#6 months respectively

     dti  revol_util  delinq_2yrs  inq_last_6mths
0  27.65        83.7          0.0             1.0
1   1.00         9.4          0.0             5.0
2   8.72        98.5          0.0             2.0
3  20.00        21.0          0.0             1.0
4  11.20        28.3          0.0             3.0

In [6]:
#engineered features - binarized data (loan_status)
loans2007_data[['loan_status']].head()

#binary data that shows the status of a loan (probably whether it was repaid or not)

   loan_status
0            1
1            0
2            1
3            1
4            1

In [7]:
#engineered features - binarized data (home_ownership)
loans2007_data[['home_ownership_MORTGAGE','home_ownership_NONE','home_ownership_OTHER','home_ownership_OWN','home_ownership_RENT']].head()

#One hot encoding: home_ownership data is split into four different columns

,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT
0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0

In [8]:
#engineered features - binarized data (verification status)

loans2007_data[['verification_status_Not Verified', 'verification_status_Source Verified', 'verification_status_Verified']].head()

#One hot encoding: verification_status data is split into three different columns

,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
0,0.0,0.0,1.0
1,0.0,1.0,0.0
2,1.0,0.0,0.0
3,0.0,1.0,0.0
4,0.0,1.0,0.0

In [9]:
#engineered features - binarized data (purpose)
loans2007_data[['purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation', 'purpose_educational',
'purpose_home_improvement',
'purpose_house',
'purpose_major_purchase',
'purpose_medical',
'purpose_moving',
'purpose_other',
'purpose_renewable_energy',
'purpose_small_business',
'purpose_vacation',
'purpose_wedding']].head()
#One hot encoding: purpose data is split into different columns

,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [10]:
#engineered features - binarized data (loan term)
loans2007_data[['term_ 36 months', 'term_ 60 months']].head()
#One hot encoding: loan term data is split into two different columns

   term_ 36 months  term_ 60 months
0              1.0              0.0
1              0.0              1.0
2              1.0              0.0
3              1.0              0.0
4              1.0              0.0

In [11]:
#displaying a sample of CSI_data
CSI_data.sample(5)

,Unnamed: 0,default,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,monthlyincome,phone
652,653,1,< 0 EUR,24,good,car,2303,< 100 EUR,> 7 years,1,45,none,own,1,skilled,1,1927,0
534,535,0,unknown,24,good,furniture/appliances,3105,unknown,< 1 year,2,25,none,own,2,skilled,1,2835,0
782,783,0,1 - 200 EUR,12,perfect,education,1410,< 100 EUR,1 - 4 years,2,31,none,own,1,unskilled,1,1036,1
69,70,0,unknown,36,good,furniture/appliances,2394,unknown,1 - 4 years,4,25,none,own,1,skilled,1,2568,0
178,179,0,unknown,12,good,NaN,1963,< 100 EUR,4 - 7 years,2,31,none,rent,2,management,2,1515,1

In [12]:
#CSI_data: engineered features (excluding binarized data)
CSI_data[['checking_balance', 'savings_balance', 'employment_duration', 'age']].head()

# 1. Discretisation: checking_balance, savings_balance and employment_duration data was transformed into categories
# 2. Age was probably extracted from date of birth

  checking_balance savings_balance employment_duration  age
0          < 0 EUR         unknown           > 7 years   67
1      1 - 200 EUR       < 100 EUR         1 - 4 years   22
2          unknown       < 100 EUR         4 - 7 years   49
3          < 0 EUR       < 100 EUR         4 - 7 years   45
4          < 0 EUR       < 100 EUR         1 - 4 years   53

In [13]:
#binarized data - default
CSI_data[['default']].head()

#Binary data that shows whether a borrower failed to pay back

   default
0        0
1        1
2        0
3        0
4        1

In [14]:
#binarized data - phone number
CSI_data[['phone']].head()
#Binary data that shows whether a borrower has a phone number

   phone
0      1
1      0
2      0
3      0
4      0

In [15]:
#2. engineer any 2 new features for loans_2007.csv data 

#let's see if we have any missing values in the data 
null_counts = loans2007_data.isnull().sum()
print(null_counts)

loan_amnt                               0
int_rate                                0
installment                             0
emp_length                              0
annual_inc                              0
loan_status                             0
zip_code                                0
dti                                     0
delinq_2yrs                             0
fico_range_high                         0
inq_last_6mths                          0
open_acc                                0
pub_rec                                 0
revol_bal                               0
revol_util                             50
total_acc                               0
last_fico_range_high                    0
home_ownership_MORTGAGE                 0
home_ownership_NONE                     0
home_ownership_OTHER                    0
home_ownership_OWN                      0
home_ownership_RENT                     0
verification_status_Not Verified        0
verification_status_Source Verified     0
verification_status_Verified            0
purpose_car                             0
purpose_credit_card                     0
purpose_debt_consolidation              0
purpose_educational                     0
purpose_home_improvement                0
purpose_house                           0
purpose_major_purchase                  0
purpose_medical                         0
purpose_moving                          0
purpose_other                           0
purpose_renewable_energy                0
purpose_small_business                  0
purpose_vacation                        0
purpose_wedding                         0
term_ 36 months                         0
term_ 60 months                         0
dtype: int64

In [16]:
#1. "revol_util" has 50 missing values so we can try to fill those with the "mean"
mean_value=loans2007_data['revol_util'].mean() #mean value of "revol_util"
print(mean_value)
loans2007_data['revol_util']=loans2007_data['revol_util'].fillna(mean_value) #filling in missing values with the mean value
print(loans2007_data['revol_util'].isnull().sum()) #checking the missing values once again

48.74109203612054
0

In [17]:
#2. Transforming year of employment (emp_length) into categories


loans2007_data['emp_length'].unique() #list of all the unique values in 'emp_length' column

array([10,  0,  3,  8,  9,  4,  5,  1,  6,  2,  7], dtype=int64)

In [18]:
#defining the bins as 0 - 1, 1 - 4, 4 - 7, 7 - 10 
bins = [0, 1, 4, 7, 10]

In [19]:
#variable names for the employment_duration

group_names = ['< 1 years', '1 - 4 years', '4 - 7 years', '> 7 years']

In [20]:
loans2007_data['employment_duration'] = pd.cut(loans2007_data['emp_length'], bins, labels=group_names)

In [21]:
loans2007_data.sample(10)

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,zip_code,dti,delinq_2yrs,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_fico_range_high,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,...,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months,employment_duration
21735,1000.0,6.54,30.67,10,70000.0,1,280,12.82,0.0,769.0,0.0,4.0,0.0,1893.0,49.8,14.0,704.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,> 7 years
26155,10000.0,13.61,230.67,0,35000.0,1,190,16.39,0.0,714.0,0.0,7.0,0.0,4283.0,35.7,14.0,749.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
12606,28000.0,16.49,463.94,3,76454.0,1,283,18.31,0.0,729.0,0.0,13.0,0.0,16105.0,45.2,63.0,684.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1 - 4 years
8633,13000.0,8.49,266.66,10,56700.0,1,871,20.19,0.0,794.0,0.0,5.0,0.0,1234.0,17.4,24.0,769.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,> 7 years
2544,8000.0,14.65,275.96,10,72000.0,0,278,22.28,0.0,684.0,1.0,10.0,0.0,32955.0,85.8,31.0,594.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,> 7 years
37341,3600.0,12.21,119.94,1,60000.0,1,900,10.56,3.0,694.0,0.0,7.0,0.0,5211.0,30.1,24.0,694.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,< 1 years
33483,8000.0,14.26,274.45,0,88500.0,0,200,11.61,0.0,684.0,0.0,13.0,0.0,15514.0,77.2,38.0,639.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
10086,8225.0,12.99,277.10,10,84000.0,1,853,17.51,0.0,694.0,2.0,9.0,1.0,19478.0,60.1,18.0,569.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,> 7 years
35568,20000.0,14.11,684.58,0,145992.0,1,750,13.10,0.0,694.0,1.0,6.0,0.0,0.0,0.0,22.0,679.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN
23148,7200.0,9.99,232.29,0,42000.0,1,945,18.77,0.0,699.0,0.0,6.0,0.0,25093.0,88.7,18.0,719.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN

In [22]:
loans2007_data['employment_duration'].unique() #distinct values in 'employment_duration' column

[> 7 years, NaN, 1 - 4 years, 4 - 7 years, < 1 years]
Categories (4, object): [< 1 years < 1 - 4 years < 4 - 7 years < > 7 years]

In [23]:
print(loans2007_data['employment_duration'].isnull().sum()) #sum of missing values

5614

In [24]:
# 0 values are treated as missing values (NaN) in the new column, so let's replace them with 'unemployed' category 

loans2007_data['employment_duration'] = loans2007_data['employment_duration'].cat.add_categories('unemployed')
loans2007_data['employment_duration'].fillna('unemployed', inplace = True)

In [25]:
loans2007_data['employment_duration'].unique()

[> 7 years, unemployed, 1 - 4 years, 4 - 7 years, < 1 years]
Categories (5, object): [< 1 years < 1 - 4 years < 4 - 7 years < > 7 years < unemployed]

In [26]:
print(loans2007_data['employment_duration'].isnull().sum()) #sum of missing values after replacement

0

In [27]:
loans2007_data.drop(['emp_length'], axis=1) #dropping the initial "emp_length" column

,loan_amnt,int_rate,installment,annual_inc,loan_status,zip_code,dti,delinq_2yrs,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_fico_range_high,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months,employment_duration
0,5000.0,10.65,162.87,24000.0,1,860,27.65,0.0,739.0,1.0,3.0,0.0,13648.0,83.7,9.0,744.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,> 7 years
1,2500.0,15.27,59.83,30000.0,0,309,1.00,0.0,744.0,5.0,3.0,0.0,1687.0,9.4,4.0,499.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,unemployed
2,2400.0,15.96,84.33,12252.0,1,606,8.72,0.0,739.0,2.0,2.0,0.0,2956.0,98.5,10.0,719.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,> 7 years
3,10000.0,13.49,339.31,49200.0,1,917,20.00,0.0,694.0,1.0,10.0,0.0,5598.0,21.0,37.0,604.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,> 7 years
4,5000.0,7.90,156.46,36000.0,1,852,11.20,0.0,734.0,3.0,9.0,0.0,7963.0,28.3,12.0,679.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1 - 4 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39247,2500.0,8.07,78.42,110000.0,1,802,11.33,0.0,764.0,0.0,13.0,0.0,7274.0,13.1,40.0,809.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1 - 4 years
39248,8500.0,10.28,275.38,18000.0,1,274,6.40,1.0,694.0,1.0,6.0,0.0,8847.0,26.9,9.0,639.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1 - 4 years
39249,5000.0,8.07,156.84,100000.0,1,17,2.30,0.0,744.0,0.0,11.0,0.0,9698.0,19.4,20.0,744.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,unemployed
39250,5000.0,7.43,155.38,200000.0,1,208,3.72,0.0,814.0,0.0,17.0,0.0,85607.0,0.7,26.0,814.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,unemployed
39251,7500.0,13.75,255.43,22000.0,1,27,14.29,1.0,664.0,0.0,7.0,0.0,4175.0,51.5,8.0,659.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,unemployed