In [1]:
#Tools and libraries
#Create ipynb file that has code for:
#1. importing numpy & pandas
#2. importing lending club data (https://github.com/dosei1/Lending-Club-Loan-Data/blob/master/loans_2007.csv), 
#CSV import instead of direct import from Git
#3. showing data snapshot (e.g. print top 5 rows of the data)
#4. showing data dimensions (columns x rows)
#5. listing variables in the data + variable type (numeric, character, float, etc.)
#6. finding max and min loan amounts
#7. average loan amount 
#8. count of loans by it's purpose
#9. list of top 10 loans loan amounts & their purposes

#importing numpy & pandas
import numpy as np
import pandas as pd

In [2]:
#importing lending club data
df = pd.read_csv ('https://raw.githubusercontent.com/olhamk/Exploratory_Data_Science_with_Python/master/loans_2007.csv?raw')

In [3]:
#top 5 rows of the data
df.iloc [:5]

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,zip_code,dti,delinq_2yrs,fico_range_high,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,860,27.65,0.0,739.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2500.0,15.27,59.83,0,30000.0,0,309,1.00,0.0,744.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2400.0,15.96,84.33,10,12252.0,1,606,8.72,0.0,739.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,10000.0,13.49,339.31,10,49200.0,1,917,20.00,0.0,694.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5000.0,7.90,156.46,3,36000.0,1,852,11.20,0.0,734.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [4]:
#data dimensions 
df.shape

(39252, 41)

In [5]:
#data types
df.dtypes

loan_amnt                              float64
int_rate                               float64
installment                            float64
emp_length                               int64
annual_inc                             float64
loan_status                              int64
zip_code                                 int64
dti                                    float64
delinq_2yrs                            float64
fico_range_high                        float64
inq_last_6mths                         float64
open_acc                               float64
pub_rec                                float64
revol_bal                              float64
revol_util                             float64
total_acc                              float64
last_fico_range_high                   float64
home_ownership_MORTGAGE                float64
home_ownership_NONE                    float64
home_ownership_OTHER                   float64
home_ownership_OWN                     float64
home_ownership_RENT                    float64
verification_status_Not Verified       float64
verification_status_Source Verified    float64
verification_status_Verified           float64
purpose_car                            float64
purpose_credit_card                    float64
purpose_debt_consolidation             float64
purpose_educational                    float64
purpose_home_improvement               float64
purpose_house                          float64
purpose_major_purchase                 float64
purpose_medical                        float64
purpose_moving                         float64
purpose_other                          float64
purpose_renewable_energy               float64
purpose_small_business                 float64
purpose_vacation                       float64
purpose_wedding                        float64
term_ 36 months                        float64
term_ 60 months                        float64
dtype: object

In [6]:
#max and min loan amounts
df['loan_amnt'].max()

35000.0

In [7]:
df['loan_amnt'].min()

500.0

In [8]:
#average loan amount
df['loan_amnt'].mean()

11137.18027106899

In [9]:
loans = df.loc[:, ['purpose_car','purpose_credit_card','purpose_debt_consolidation','purpose_educational','purpose_home_improvement','purpose_house','purpose_major_purchase','purpose_medical','purpose_moving','purpose_other','purpose_renewable_energy','purpose_small_business','purpose_vacation','purpose_wedding']]

In [10]:
#count of loans by purpose
loans.sum()

purpose_car                    1536.0
purpose_credit_card            5079.0
purpose_debt_consolidation    18376.0
purpose_educational             325.0
purpose_home_improvement       2951.0
purpose_house                   372.0
purpose_major_purchase         2184.0
purpose_medical                 690.0
purpose_moving                  582.0
purpose_other                  3938.0
purpose_renewable_energy        103.0
purpose_small_business         1797.0
purpose_vacation                378.0
purpose_wedding                 941.0
dtype: float64

In [11]:
Summary = df.loc[:, ['loan_amnt','purpose_car','purpose_credit_card','purpose_debt_consolidation','purpose_educational','purpose_home_improvement','purpose_house','purpose_major_purchase','purpose_medical','purpose_moving','purpose_other','purpose_renewable_energy','purpose_small_business','purpose_vacation','purpose_wedding']]

In [12]:
Summary

,loan_amnt,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,5000.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2500.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,10000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39247,2500.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39248,8500.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39249,5000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39250,5000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
39251,7500.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
#top 10 loan amounts
Summary.nlargest(10, 'loan_amnt')

,loan_amnt,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
77,35000.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
179,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
260,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
268,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
297,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
323,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
371,35000.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
414,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
475,35000.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0